# Importing libraries

In [61]:
# Importing libraries
import numpy as np
import pandas as pd
import mysql.connector

# Creating connection to the database SQL

In [62]:
# Creating connection
connection = mysql.connector.connect(
    host='localhost',
    user='root',
    password='SenhaMySQL2024',
    database='dataproject')

cursor = connection.cursor()

In [63]:
# Querying the datas
query = 'SELECT id, Client_ID, Phone_Number, Pizza_Name, Ingredients, Day_of_the_Week FROM pizza_sales_data;'
cursor.execute(query)
result = cursor.fetchall()  

# columns = [i[0] for i in cursor.description], get the name of the columns
df = pd.DataFrame(result, columns = [i[0] for i in cursor.description])
display(df)

,id,Client_ID,Phone_Number,Pizza_Name,Ingredients,Day_of_the_Week
0,1,601,55048920805021,The Chicken Pesto Pizza,"Chicken, Tomatoes, Red Peppers, Spinach, Garli...",Thursday
1,2,1060,55048965368982,The Greek Pizza,"Kalamata Olives, Feta Cheese, Tomatoes, Garlic...",Thursday
2,3,470,55048979620977,The Hawaiian Pizza,"Sliced Ham, Pineapple, Mozzarella Cheese",Thursday
3,4,1862,55048996697585,The Green Garden Pizza,"Spinach, Mushrooms, Tomatoes, Green Olives, Fe...",Thursday
4,5,804,55048947870966,The Prosciutto and Arugula Pizza,"Prosciutto di San Daniele, Arugula, Mozzarella...",Thursday
...,...,...,...,...,...,...
48615,48616,1743,55048913026955,The Four Cheese Pizza,"Ricotta Cheese, Gorgonzola Piccante Cheese, Mo...",Thursday
48616,48617,524,55048959004703,The Vegetables + Vegetables Pizza,"Mushrooms, Tomatoes, Red Peppers, Green Pepper...",Thursday
48617,48618,273,55048946259879,The Mexicana Pizza,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",Thursday
48618,48619,981,55048961407928,The Sicilian Pizza,"Coarse Sicilian Salami, Tomatoes, Green Olives...",Thursday
48619,48620,1189,55048931275832,The Mediterranean Pizza,"Spinach, Artichokes, Kalamata Olives, Sun-drie...",Thursday

In [64]:
# Closing connection
cursor.close()
connection.close()

# Organizing datas

In [65]:
# Apply the split function to the 'Ingredients' column and expand into new columns
df_ingredients = df['Ingredients'].str.split(', ', expand=True)

# Add the new columns to the original DataFrame
df = pd.concat([df, df_ingredients], axis=1)

display(df)

,id,Client_ID,Phone_Number,Pizza_Name,Ingredients,Day_of_the_Week,0,1,2,3,4,5,6,7
0,1,601,55048920805021,The Chicken Pesto Pizza,"Chicken, Tomatoes, Red Peppers, Spinach, Garli...",Thursday,Chicken,Tomatoes,Red Peppers,Spinach,Garlic,Pesto Sauce,None,None
1,2,1060,55048965368982,The Greek Pizza,"Kalamata Olives, Feta Cheese, Tomatoes, Garlic...",Thursday,Kalamata Olives,Feta Cheese,Tomatoes,Garlic,Beef Chuck Roast,Red Onions,None,None
2,3,470,55048979620977,The Hawaiian Pizza,"Sliced Ham, Pineapple, Mozzarella Cheese",Thursday,Sliced Ham,Pineapple,Mozzarella Cheese,None,None,None,None,None
3,4,1862,55048996697585,The Green Garden Pizza,"Spinach, Mushrooms, Tomatoes, Green Olives, Fe...",Thursday,Spinach,Mushrooms,Tomatoes,Green Olives,Feta Cheese,None,None,None
4,5,804,55048947870966,The Prosciutto and Arugula Pizza,"Prosciutto di San Daniele, Arugula, Mozzarella...",Thursday,Prosciutto di San Daniele,Arugula,Mozzarella Cheese,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48615,48616,1743,55048913026955,The Four Cheese Pizza,"Ricotta Cheese, Gorgonzola Piccante Cheese, Mo...",Thursday,Ricotta Cheese,Gorgonzola Piccante Cheese,Mozzarella Cheese,Parmigiano Reggiano Cheese,Garlic,None,None,None
48616,48617,524,55048959004703,The Vegetables + Vegetables Pizza,"Mushrooms, Tomatoes, Red Peppers, Green Pepper...",Thursday,Mushrooms,Tomatoes,Red Peppers,Green Peppers,Red Onions,Zucchini,Spinach,Garlic
48617,48618,273,55048946259879,The Mexicana Pizza,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",Thursday,Tomatoes,Red Peppers,Jalapeno Peppers,Red Onions,Cilantro,Corn,Chipotle Sauce,Garlic
48618,48619,981,55048961407928,The Sicilian Pizza,"Coarse Sicilian Salami, Tomatoes, Green Olives...",Thursday,Coarse Sicilian Salami,Tomatoes,Green Olives,Luganega Sausage,Onions,Garlic,None,None
48619,48620,1189,55048931275832,The Mediterranean Pizza,"Spinach, Artichokes, Kalamata Olives, Sun-drie...",Thursday,Spinach,Artichokes,Kalamata Olives,Sun-dried Tomatoes,Feta Cheese,Plum Tomatoes,Red Onions,None

In [66]:
df.count()

id                 48620
Client_ID          48620
Phone_Number       48620
Pizza_Name         48620
Ingredients        48620
Day_of_the_Week    48620
0                  48620
1                  48620
2                  46251
3                  41111
4                  39300
5                  27892
6                   9991
7                   5791
dtype: int64

In [67]:
# Deleting unnecessary columns
df = df.iloc[:, :8]
df = df.drop('Ingredients', axis=1)
df.rename(columns={0: 'First_Ingredient', 1: 'Second_Ingredient'}, inplace=True)

display(df)

,id,Client_ID,Phone_Number,Pizza_Name,Day_of_the_Week,First_Ingredient,Second_Ingredient
0,1,601,55048920805021,The Chicken Pesto Pizza,Thursday,Chicken,Tomatoes
1,2,1060,55048965368982,The Greek Pizza,Thursday,Kalamata Olives,Feta Cheese
2,3,470,55048979620977,The Hawaiian Pizza,Thursday,Sliced Ham,Pineapple
3,4,1862,55048996697585,The Green Garden Pizza,Thursday,Spinach,Mushrooms
4,5,804,55048947870966,The Prosciutto and Arugula Pizza,Thursday,Prosciutto di San Daniele,Arugula
...,...,...,...,...,...,...,...
48615,48616,1743,55048913026955,The Four Cheese Pizza,Thursday,Ricotta Cheese,Gorgonzola Piccante Cheese
48616,48617,524,55048959004703,The Vegetables + Vegetables Pizza,Thursday,Mushrooms,Tomatoes
48617,48618,273,55048946259879,The Mexicana Pizza,Thursday,Tomatoes,Red Peppers
48618,48619,981,55048961407928,The Sicilian Pizza,Thursday,Coarse Sicilian Salami,Tomatoes
48619,48620,1189,55048931275832,The Mediterranean Pizza,Thursday,Spinach,Artichokes

In [68]:
# Creating connection
connection = mysql.connector.connect(
    host='localhost',
    user='root',
    password='SenhaMySQL2024',
    database='dataproject')

cursor = connection.cursor()

In [69]:
# Creating table in SQL with datas
query = '''
CREATE TABLE IF NOT EXISTS pizzas_suggestions (
    id INT PRIMARY KEY,
    Client_ID INT,
    Phone_Number VARCHAR(255),
    Pizza_Name VARCHAR(255),
    Day VARCHAR(255),
    First_Ingredient VARCHAR(255),
    Second_Ingredient VARCHAR(255)
)
'''

# Execute query
cursor.execute(query)

# Insert data from the DataFrame into the table
table = 'pizzas_suggestions'
for _, row in df.iterrows():
    insert_query = f"INSERT INTO {table} (id, Client_ID, Phone_Number, Pizza_Name, Day, First_Ingredient, Second_Ingredient) VALUES (%s, %s, %s, %s, %s, %s, %s)"
    values = (row['id'], row['Client_ID'], row['Phone_Number'], row['Pizza_Name'], row['Day_of_the_Week'], row['First_Ingredient'], row['Second_Ingredient'])
    cursor.execute(insert_query, values)
    
# Execute query
# cursor.execute(query)

# Commit changes
connection.commit()

# Closing connection
cursor.close()
connection.close()

In [70]:
# Closing connection
cursor.close()
connection.close()